# --- Jádro aplikace (API a Validace) ---
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic==2.5.0
pydantic-settings==2.1.0
python-dotenv==1.0.0

# --- Databáze a Migrace ---
sqlalchemy==2.0.23
alembic==1.12.1
psycopg2-binary==2.9.9  # Ovladač pro připojení k PostgreSQL

# --- Geoprostorová data (PostGIS) ---
geoalchemy2==0.14.2     # Rozšíření SQLAlchemy pro práci s PostGIS (třeba typ Geometry)
Shapely==2.0.6          # Knihovna pro manipulaci s geometrií v Pythonu (často ji GeoAlchemy2 potřebuje)
numpy<2.0.0
osmnx==1.9.3            # Stahování a zpracování OSM silniční sítě (seed_roads, osm_service)

# --- Asynchronní zpracování (Worker a Fronta) ---
celery==5.3.6           # Nástroj pro běh asynchronních úloh na pozadí
redis==5.0.1            # Klient pro Redis (slouží jako message broker pro Celery)

# --- Logování ---
loguru==0.7.2
